.main-header {
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  margin-bottom: 25px;
  h1 {
    margin: 0;
  }
}

.avatar-img {
  max-width: 100px;
}

.button-green {
  margin: 5px;
  background: teal;
  color: white;
  padding: 10px 15px;
  border:  none;
  border-radius: 3px;
  &:active, &:focus {
    outline: none;
    border: none;
    background-color: darken(teal, 20);
  }
  &:hover {
    background-color: darken(teal, 10);
  }
  &.button-delete-user{
    background-color: crimson;
    &:active, &:focus {
      background-color: darken(crimson, 20)
    }
    &:hover {
      background-color: darken(crimson, 10);
    }
  }

  &.fixed{
    position: fixed;
    left:0;
    top: calc(100vh - 400px);
    
  }
}

